<table>
  <tr>
    <th>item class</th>
    <th>prefixes</th>
    <th>suffixes</th>
  </tr>
  <tr>
    <td>helmet</td>
    <td>{{dataSource.helmetMods.prefixes}}</td>
    <td>{{dataSource.helmetMods.suffixes}}</td>
  </tr>
  <tr>
    <td>body</td>
    <td>{{dataSource.bodyMods.prefixes}}</td>
    <td>{{dataSource.bodyMods.suffixes}}</td>
  </tr>
  <tr>
    <td>gloves</td>
    <td>{{dataSource.glovesMods.prefixes}}</td>
    <td>{{dataSource.glovesMods.suffixes}}</td>
  </tr>
  <tr>
    <td>boots</td>
    <td>{{dataSource.bootsMods.prefixes}}</td>
    <td>{{dataSource.bootsMods.suffixes}}</td>
  </tr>
  <tr>
    <td>amulet</td>
    <td>{{dataSource.amuletMods.prefixes}}</td>
    <td>{{dataSource.amuletMods.suffixes}}</td>
  </tr>
  <tr>
    <td>belt</td>
    <td>{{dataSource.beltMods.prefixes}}</td>
    <td>{{dataSource.beltMods.suffixes}}</td>
  </tr>
  <tr>
    <td>ring1</td>
    <td>{{dataSource.ring1Mods.prefixes}}</td>
    <td>{{dataSource.ring1Mods.suffixes}}</td>
  </tr>
  <tr>
    <td>ring2</td>
    <td>{{dataSource.ring2Mods.prefixes}}</td>
    <td>{{dataSource.ring2Mods.suffixes}}</td>
  </tr>
</table>

